.home {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
}

.home_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.question_btn {
    text-decoration: none;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 15px;
    cursor: pointer;
    width: 140px;
    text-align: center;
}

.question_btn:hover {
    background-color: #fd7e14;
    color: #fff;
}

.user_class {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question_wrapper {
    font-size: 24px;
    margin-bottom: 16px;
}

button:hover {
    background-color: #005fa3;
}

.bi1 {
    color: black;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi2 {
    color: gray;
    font-size: 50px;
    font-weight: bold;
}

.user_question {
    display: flex;
    justify-content: space-between;
    /* background-color: #005fa3; */
    width: 700px;
}

.user_question a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.userName1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100px;
    /* background: #ddd; */
    text-align: center;
    padding: 0 30px;
    margin: 3px 0;
}

.all_user{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
}