.navWrap {
  background-color: #f2f2f2;
  box-shadow: 0 2px 2px 2px #0909093b;
}

.laptopItems {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  font: weight 4px;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  font: weight 4px;
}

.logo img {
  height: 28px;
  /* width: 200px; */
  padding-left: 10px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: #000;
}

.menu a:hover {
  color: #000;
}

.logout a {
  height: 42px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0077cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  padding-bottom: 3px;
}

.logout a:hover {
  background-color: #fd7e14;
  color: #fff;
  font-size: 18px;
}

.biList {
  font-size: 30px;
  color: #fd7e14;
}
