.AboutWrap h3{
    color: #fe8303;
    font-size: 14px;
    /* font-weight: 10; */
}

.About__Button button{
   color: #fff;
   background-color: #fe8402;
   border-radius: 6px;
   border: none;
   font-size: 15px;
   padding: 0 20px;
   height: 50px;
}

.About__Button button:hover{
   background-color: #516cf0;
}

.AboutWrap p {
justify-content: center;
line-height: 30px;
}